body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  width: 85%;
  margin: auto;
}

h1 {
  /*background-color: #0d042b;
  color: #c7bee6;*/
  background-color: #b84000;
  color: #fc9a65;
  margin: 0;
  text-align: center;
  padding: 10px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #8a8780;
}

strong, em, span, h2, h4 {
  /*color: #0d042b;*/
  color: #b84000;
}

.container-for-images, .container-for-spans {
  width: 1000px;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

span {
  width: 200px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

li {
  color: #b84000;
  line-height: 1.5;
}

h4 {
  margin-top: 40px;
  text-align: center;
}